ul li {
  list-style: none;
  float: left;
  width: 250px;
  position: relative;
}
ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
  padding: 0 20px;
  display: block;
  line-height: 100px;
  text-align: center;
}
nav {
  width: 100%;
  height: 100px;
  background-color: azure;
}
* {
  margin: 0;
  padding: 0;
}
ul li a:hover {
  background-color: brown;
  color: aquamarine;
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
  background-color: white;
}
body {
  background-color: powderblue;
}
#logo {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 15px;
}
p {
  text-align: justify;
  font-size: 18px;
}
header p::first-letter {
  font-size: 40px;
}
figure {
  margin-top: 45px;
  margin-bottom: 45px;
}
figure img {
  height: 25%;
  width: 25%;
  margin: 5px auto;
  display: block;
}
figcaption {
  text-align: center;
}
main {
  padding: 10px 10px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
#pic {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
#pic img {
  width: 25%;
  height: 25%;
  display: inline-block;
  padding: 0px 100px;
}
ul li ul {
  display: none;
  position: absolute;
  background-color: #dad6d6;
}
ul li:hover ul {
  display: block;
}
